 
.Wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #eeeeee;
  height: 100%;
}

.table>tbody {
  border-top: none!important;
}

.navbar {
  padding: 0rem !important;
  padding-bottom: 0rem !important;
  background-color: #00b8d4 !important;
  width: 100%;
}

.container {
  height: 100%;
  background-color: #fff;
  padding: 0%;
}

.list-container {
  width: 100%;
  padding: 0 5px 0 5px;
}

.navbar-brand {
  margin-right: 0% !important;
}

.loader-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.form-label {
  margin-bottom: 0.5rem;
}

.form-group {
  padding: 5px 0px;
}


.btn-secondary {
  width: 4.5rem;
}

.btn-primary{
  width: 3rem!important;
}

 .pagination {
  flex-direction: row!important;
 }

.btn-edit,
.btn-add {
  background-color: #0097a7;
}

 .subHeader {
   letter-spacing: 1px;
   font-size: 25px;
   color: #0097a7;
   text-align: center;
 }

 
.btn-logs {
  background-color: #c62828;
}

.spinner-border {
  border-left-color: #00b8d4;
  border-top-color: #00b8d4;
  border-bottom-color: #00b8d4;
}

.btn {
  color: #fff;
}

.ml {
  margin-left: 6px !important;
}

#header {
  background-color: #212121;
  padding: 0px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.list-group-item {
  border-radius: 0% !important;
}

h1 {
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

.table {
  margin-bottom: 0%;
}

.h1,
h1 {
  font-size: 1.8rem !important;
}

.button-container {
  padding: 15px 0 15px 0;
}

.login-container {
  margin: 20px;
}

.btn-link {
  margin-top: 5px;
  text-align: center;
  margin-left: 30px;
}

.btn {
  vertical-align: 0%;
  margin: 0px 2px 0px 2px;
}

.action-container,
.thead-action {
  text-align: center;
}

.d-flex {
  flex-direction: column;
  text-align: center;
}

.loader {
  font-size: 14px;
  font-weight: 600;
}

.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 400px) {  
  .table-responsive {
      font-size:10px !important;
  }
}
